{
  "presets": [
    ["@babel/preset-typescript", { "allowNamespaces": true }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
