<div class="chat">
    <div class="chat-header">
        <div class="header-content">[[header]]</div>
        <div class="chat-id">Chat #{{ name }}</div>
    </div>
    
    <div class="chat-messages">
        <div class="message-container">
            <div class="avatar-wrapper">
                <div class="avatar">[[avatar]]</div>
                <div class="status-indicator"></div>
            </div>
            <div class="message-content">
                <div class="message-bubble">
                    <div class="message-text">[[message]]</div>
                    <div class="message-timestamp">[[timestamp]]</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chat-actions">
        <ao-button (click)="incrementName()">Send Message</ao-button>
    </div>
</div>