<div>
    <h2>This is a simple list :</h2>
    <ul>
        <li *for="let item of items">{{ item }} <ao-button (click)="removeItem(item)">X</ao-button></li>
    </ul>
    <ao-button (click)="addItem()">Add item</ao-button>
</div>


<div>
    <h2>This is a object list :</h2>
    <ul>
        <li *for="let item of objItems">{{ item.name }} <ao-button (click)="removeObjItem(item)">X</ao-button></li>
    </ul>
    <ao-button (click)="addObjItem()">Add item</ao-button>
</div>