<div class="modal__wrapper" (click)="close()">
    <div class="modal" onclick="event.stopPropagation()">
        <div class="modal__header">
            <div class="modal__title">
                {{title}}
            </div>
            <div class="modal__close" (click)="close()">
                <span>&times;</span>
            </div>
        </div>
        <div class="modal__body">
            <div class="modal__content">
                <div class="modal__content__text">
                    {{message}}
                </div>
                <div class="modal__form">
                    <label for="modal-input-name">What is your name?</label>
                    <input id="modal-input-name" type="text" data-value="name" />
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <div class="modal__content__buttons">
                <ao-button id="modal-cancel" name="Cancel" (click)="close()"></ao-button>
                <ao-button id="modal-confirm" name="Confirm" (click)="confirm()"></ao-button>
            </div>
        </div>
    </div>
</div>